@import '../scss/variables';

.jedi-dice {
	width: 100%;
	max-width: 800px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;

	background:#7613b9;
	background-image: url("../img/bg/bg0.jpg");
	background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
}

.dice-select-list {
	padding-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media (min-width: 560px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	justify-items: center;
}
