$font-button: 'TeutonNormal', "Segoe UI", "Roboto", "Oxygen", "Droid Sans", "Helvetica Neue";

// EotE dice colors
$green:     #39b54a;
$yellow:    #fff200;
$red:       #b30919;
$blue:      #bdccd4;
$black:     #231F20;
$purple:    #7a2673;
$d10:       #2e3192;
