$font-button: 'TeutonNormal', "Segoe UI", "Roboto", "Oxygen", "Droid Sans", "Helvetica Neue";

// EotE dice colors
$sw-green:     #39b54a;
$sw-yellow:    #fff200;
$sw-red:       #b30919;
$sw-blue:      #bdccd4;
$sw-black:     #231F20;
$sw-purple:    #7a2673;
$sw-d10:       #2e3192;
